.idea
database.yml
schema.sql
run.sh
run.bat
spectre
.DS_Store
*.code-workspace

ipe/
css/
fonts/
img/
js/
assets/
spectre.exe

migrations/
.env

run.bat.example
run.sh.example
database.yml.example
soda_binaries/